body{
  font-family: 'Arimo', sans-serif;
  color: #36383a;
}
.header {
    text-align: center;

}

#flex-width {
    position: relative;
    max-width: 350px;
    height: 60%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    text-align: center;

}

td {
    border: 5px solid #36383a;
    color: green;
    width: 2px;
    height: 90px;
    font-size: 4em;
}

.top {
    border-top: none;
}

.left {
    border-left: none;
}

.right {
    border-right: none;
}

.bottom {
    border-bottom: none;
}

#modal {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 3px solid green;
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: -150px;
    right: 0;
    bottom: 0;
    position: absolute;
    max-width: 350px;
    height: 25%;
    margin: auto;
    text-align: center;
}

.mark {
    display: inline-block;
    font-size: 3em;
    font-weight: bold;
}

#X {
    padding-right: 30%;
}

#wins {
    text-align: center;
    padding-top: 20px;
    font-size: 3em;
}

@media screen and (max-width:400px) {
    #flex-width {
        max-width: 90%;
        height: 70%;
    }
    #modal{
      max-width: 90%;
    }
}
